[submodule "metaodoo/pathao/app_odoo_customize"]
	path = metaodoo/pathao/app_odoo_customize
	url = git@github.com:metaodoo/pathao.git
	branch = master

[submodule "metaodoo/pathao"]
	path = metaodoo/pathao
	url = git@github.com:metaodoo/pathao.git
	branch = app-app_odoo_customize
